/* /////////////////////////// */
/* RESPONSIVE */
/* ////////////////////////// */
@media (max-width: 1400px) {
  .about-content .img {
    width: 500px;
  }
  .text-content h1 {
    font-size: 40px;
  }

  .skills {
    width: 70%;
  }
}
@media (max-width: 1400px) {
  .landing {
    height: 110vh;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 0.3)
      ),
      url(./img/h1r4.jpg) center center no-repeat;
    object-fit: cover;
  }
  .landing-content h1,
  .btns {
    margin-right: auto;
    margin-left: 10%;
  }
  .about-content .img {
    width: 450px;
    height: 450px;
  }
}
@media (max-width: 1200px) {
  .ham-menu {
    display: block;
    visibility: visible;
    z-index: 2001;
  }
  .navigation {
    background-color: #1b1a1a;
    height: 100%;
    width: 100%;
    max-width: 80%;
    position: fixed;
    top: 0;
    right: -200%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    text-align: center;
    transition: 0.3s ease;
    z-index: 2000;
  }
  .navigation ul {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }
  .navigation ul li {
    margin-bottom: 60px;
  }
  .navigation.active {
    right: 0;
  }
  .sticky .navigation ul {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }

  .landing-content h1,
  .btns {
    margin-right: auto;
    margin-left: 5%;
  }
  .landing {
    height: 105vh;
  }
}
@media (max-width: 1000px) {
  .landing-content {
    padding-top: 30%;
  }
  .about-content {
    flex-direction: column;
  }
  .about-content .img {
    margin: 0 auto;
    height: 500px;
    width: 550px;
  }
  .text-content {
    height: 100%;
    width: 80%;
    margin: 40px auto 0 auto;
  }
  .text-content p {
    font-size: 32px;
    letter-spacing: 1px;
  }
  .skills {
    width: 80%;
  }
}
@media (max-width: 1000px) {
  .footer-icons .icon {
    height: 100px;
    width: 100px;
    margin-left: 15px;
    background-color: #9319b8;
    border-radius: 50%;
    padding: 25px;
    transition: all 0.3s;
  }
  .footer-icons .icon i {
    font-size: 26px;
  }
  .footer-icons .icon h1 {
    font-size: 15px;
  }
}
@media (max-width: 800px) {
  .input-content {
    flex-direction: column;
  }
  .input input {
    height: 20px;
    width: 350px;
  }
  .input-btn {
    margin-left: 0px;
    margin-top: 15px;
  }
  .footer-icons .icon {
    height: 80px;
    width: 80px;

    padding: 20px;
  }
  .footer-icons .icon i {
    font-size: 26px;
  }
  .footer-icons .icon h1 {
    font-size: 12px;
  }
}
@media (max-width: 700px) {
  .landing-content h1 {
    font-size: 40px;
    width: 500px;
  }
  .btn-primary {
    padding: 8px 18px;
    font-size: 18px;
  }
  .about-content .img {
    height: 450px;
    width: 500px;
  }
  .footer-icons .icon {
    height: 70px;
    width: 70px;

    margin-left: 10px;
    padding: 20px;
  }
  .footer-icons .icon i {
    font-size: 23px;
  }
  .footer-icons .icon h1 {
    font-size: 10px;
  }
}
@media (max-width: 580px) {
  .landing-content h1 {
    font-size: 38px;
    width: 480px;
  }

  .about-content .img {
    height: 420px;
    width: 470px;
  }
  .input input {
    height: 20px;
    width: 250px;
  }
  .footer-icons .icon {
    height: 60px;
    width: 60px;

    margin-left: 10px;
    padding: 20px;
  }
  .footer-icons .icon i {
    font-size: 25px;
  }
  .footer-icons .icon h1 {
    font-size: 7px;
  }
}
@media (max-width: 500px) {
  .landing-content h1 {
    font-size: 35px;
    width: 350px;
  }
  l .footer-icons .icon {
    height: 40px;
    width: 40px;

    margin-left: 10px;
    padding: 20px;
  }
  .footer-icons .icon i {
    font-size: 22px;
  }
  .footer-icons .icon h1 {
    font-size: 5px;
  }
  .footer-content p {
    font-size: 15px;
  }
  .copyright i {
    font-size: 15px;
  }
  .copyright h1 {
    font-size: 20px;
  }
}
@media (max-width: 480px) {
  .landing-content h1 {
    font-size: 32px;
    width: 320px;
  }

  .about-content .img {
    height: 120%;
    width: 80%;
  }
  .footer-icons .icon {
    margin-left: 5px;
    padding: 10px;
  }
  .footer-icons .icon i {
    font-size: 18px;
  }
  .footer-icons .icon h1 {
    font-size: 5px;
  }
}
@media (max-width: 420px) {
  .landing-content h1 {
    font-size: 32px;
    width: 280px;
  }
  .services h1 {
    margin-left: auto;
    margin-right: auto;
    font-size: 54px;
    font-size: 40px;
  }
  .card {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
